[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmtest"]
	path = cmtest
	url = https://github.com/cran/cmtest
[submodule "descstat"]
	path = descstat
	url = https://github.com/ycroissant/descstat
[submodule "dfidx"]
	path = dfidx
	url = https://github.com/ycroissant/dfidx
[submodule "mhurdle"]
	path = mhurdle
	url = https://github.com/ycroissant/mhurdle
[submodule "micsr"]
	path = micsr
	url = https://github.com/ycroissant/micsr
[submodule "mlogit"]
	path = mlogit
	url = https://github.com/ycroissant/mlogit
[submodule "necountries"]
	path = necountries
	url = https://github.com/ycroissant/necountries
[submodule "pder"]
	path = pder
	url = https://github.com/cran/pder
[submodule "pglm"]
	path = pglm
	url = https://github.com/ycroissant/pglm
[submodule "plm"]
	path = plm
	url = https://github.com/ycroissant/plm
[submodule "tidydfidx"]
	path = tidydfidx
	url = https://github.com/ycroissant/tidydfidx
