[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cmtest"]
	path = cmtest
	url = https://github.com/cran/cmtest
	shallow = true
	registered = true
[submodule "descstat"]
	path = descstat
	url = https://github.com/ycroissant/descstat
	shallow = true
	registered = true
[submodule "dfidx"]
	path = dfidx
	url = https://github.com/ycroissant/dfidx
	shallow = true
	registered = true
[submodule "mhurdle"]
	path = mhurdle
	url = https://github.com/ycroissant/mhurdle
	shallow = true
	registered = true
[submodule "pder"]
	path = pder
	url = https://github.com/cran/pder
	shallow = true
	registered = true
[submodule "pglm"]
	path = pglm
	url = https://github.com/ycroissant/pglm
	shallow = true
	registered = true
[submodule "plm"]
	path = plm
	url = https://github.com/ycroissant/plm
	shallow = true
	registered = true
